.arctic-table {
  position:relative;
  overflow-x:hidden!important;
  max-width:100%;
}
.arctic-table .arctic-table-wrapper {
  overflow:auto;
}

.arctic-table .frozen-column {
  width: auto!important;
  position: absolute;
  left: 0;
  top: 0;
}
